/* Determine the width of the flags column */
.flags-column {
    width: 60px;
  }
  
  .table {
    table-layout: fixed;
    margin-top: 20px;
  }
  
  .table thead th {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .table tbody td {
    word-break: break-word;
  }
  
  td > img {
    width: 40px;
  }
  
  .offcanvas {
    background-color: #f1f1f1;
  }
  
  .offcanvas-body {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  
  .offcanvas-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .filter-section,
  .sort-section {
    margin-bottom: 20px;
  }
  
  .filter-section h6,
  .sort-section h6 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-check-label {
    font-size: 16px;
  }
  
  .sort-section {
    margin-top: 20px;
  }
  